
MYSQL_DATABASE= u648273511_attaroqqy
MYSQL_HOST= 148.222.53.169
MYSQL_PASSWORD= 199722Attar@
MYSQL_PORT= 3306
MYSQL_USER= u648273511_attaroqqy
GEMINI_API_KEY=
UPLOAD_DIR= /home/u648273511/domains/attaroqqy.com/storage/uploads